/*//deprecated start*/
.issueActions {
    display: none;
    margin: 0 0 0 0;
    padding: 0;
    position: fixed;
    bottom: 60%;
    left: 30%;
    width: 400px;
    /*height: 400px;*/
    background-color: white;
    border: solid 1px #a9a9a9;
    text-align: left;
    margin: 10px;
}

.issueActions input {
    margin: 6px 0 0 0;
    padding: 0;
    font-size: 14px;
    font-family: monospace;
    width: 390px;
}

.issueActions .commandsList {
  background-color: #e3eef3;
  float:left;
}
                                                
.issueActions .command {
  border: solid 1px #a9a9a9;
}

.issueActions .selectedCommand {
  background: white;
  border: none;
}

.issueActions .commandsList ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.issueActions .commandsList ul li {
  padding: 5px 10px 5px 10px;
}

.issueActions .commandsList ul li .matched {
  font-weight: bold;
}

.issueActions .commandDescr {
  float: right;
  padding: 5px 10px 5px 10px;
  background: white;
}

.issueActions .commandDescr ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
/*// deprecated end*/


.commandsDialog {
    margin: 0;
    padding: 0;
    display: none;
    position: fixed;
    top: 20%;
    left: 20%;
    z-index:101;
    text-align: left;
    width: 60%;
    font-family: arial, tahoma, verdana, sans-serif;
    background-color: white;
    border: solid 5px #676e75;
}
.commandsDialog .dialogTitle {
    margin: 0 0 1em 0;
    padding: 0 0 .4em .5em;
    color: #fff;
    font-size: 120%;
    background-color: #676e75;
}
.commandsDialog .dialogTitle a.closeDlg {
    margin: 0 0 1em 0;
    padding: 0 .5em ;
    float: right;
    text-decoration: none;
    color: #676e75;
    background: url("../img/closeCommandLine.gif") no-repeat right 0;
}
.commandsDialog .dialogTitle a.closeDlg:hover {
    background: url("../img/closeCommandLineHover.gif") no-repeat right 0;
}
.commandsDialog .commandList {
    margin: 0;
    padding: 0 1em;
    float: right;
    width: 16em;
}
.commandsDialog .commandList p {
    margin: 0;
    padding: .2em 0 .2em .5em;
    font-size: 110%;
    background-color: #f0f1f2;
}
.commandsDialog .commandList ol {
    margin: .5em 0 0 0;
    padding: 0;
    overflow: auto;
    height: 11em;
    position: relative;
}
@media all and (-webkit-min-device-pixel-ratio:0) { /* hack Safari */
    body:first-of-type .commandsDialog .commandList ol { height: 9em; }
}
.commandsDialog .commandList ol li {
    margin: 0 0 .1em 2em;
    padding: 0;
    font-weight: bold;
    font-size: 120%;
}
.commandsDialog .commandList ol li span {
    font-weight: normal;
    font-size: 80%;
}
.commandsDialog .commandFields {
    margin: 0 18em 0 0;
    padding: 0 .5em 0 1em;
}
.commandsDialog .commandFields label {
    margin: .1em 0 .2em 0;
    padding: 0;
    font-size: 110%;
    display: block;
}
.commandsDialog .commandFields input, .commandsDialog .commandFields textarea {
    margin: 0 0 .4em 0;
    padding: .2em;
    width: 96%;
    border: 1px solid #979CA2;
}
.commandsDialog .commandFields textarea {
    height: 8em;
}
.commandsDialog ul.buttons {
    margin: .2em 1em 1em .7em;
}
.commandsDialog .commentPreview {
    padding: 1em 1em 2em 1em;
    background-color: #f0f1f2;
    overflow: auto;
    max-height: 250px;
}

.commandsDialog .hidden {
    display: none;
}

.commandsDialog .help {
    float: right;
    margin: 0 12px;
    padding: 0;
    width: 11px;
    color: #fff;
    color1: red;
    background : url("../img/iconHelp.gif") no-repeat right .2em!important;
}


/*.commandsDialog {
    display: none;
    margin: 0 0 0 0;
    padding: 0;
    position: fixed;
    bottom: 40%;
    left: 30%;
    background-color: white;
    border: solid 1px #a9a9a9;
    text-align: left;
    width: 600px;
    z-index:101;
}



.commandsDialog .form {
    margin: 0;
    padding: 1em 2em 1.5em 2em;
    background-color: #f7f6f5;
    position: relative;
}
.commandsDialog .form ul.attr {
    margin: .2em 1em 0 0;
    padding: 0;
    float: left;
    width: 5em;
}
*:first-child+html .commandsDialog .form ul.attr {
    margin: .3em;
}
*html .commandsDialog .form ul.attr {
    margin: .3em;
}
.commandsDialog .form ul.attr li {
    margin: 0 0 -.05em 0;
    padding: 0;
    list-style: none;
    color: #55676f;
    text-align: right;
}
*:first-child+html .commandsDialog .form ul.attr li {
    margin-bottom:  0;
}
*html .commandsDialog .form ul.attr li {
    margin-bottom:  0;
}
.commandsDialog .form .textarea {
    margin: 0 0 0 6em;
    padding: 0;
    position: relative;
}

.commandsDialog input {
    margin: 0;
    padding: 2px;
    overflow-y: auto;
    font-size: 11px;
    display: block;
    line-height: 1.5em;
    font-family: tahoma, arial, sans-serif;
    color: #333;
    width: 96%;
    border: solid 2px #ccc;
}

.commandsDialog textarea {
    margin: 0;
    padding: 2px;
    overflow-y: auto;
    font-size: 11px;
    display: block;
    line-height: 1.5em;
    font-family: tahoma, arial, sans-serif;
    color: #333;
    width: 96%;
    height: 7em;
    border: solid 2px #ccc;
}

.commandsDialog ul.underline li {
    margin-left: 5px;
}

.commandsDialog ul.underline li.type4 {
    border: none;
}

div.addCommentCommandDiv {
    border: dotted 1px;
    margin: 5px;
    padding: 5px;
}*/

div.addCommentCommandDiv p {
    margin: 0px;
}

div.newCommandRightBlock {
    float: right;
    background: lightgray;
    margin: 5px;
    width: 36%;
    height: 100%;
    overflow: auto;
}

div.newCommandLeftBlock {
    float: left;
    margin: 5px;
    width: 60%;
}

div.newCommandLeftBlock ul.form {
    padding: 0;
    margin: 0;
}

div.newCommandLeftBlock ul.form li {
    list-style: none;
}

div.newCommandButtons {
    clear: both;
    padding: 0px 5px 25px 5px;
}

div.newCommandTop {
    text-align: left;
}

ol.commandsDescriptionOl {
    padding: 0 25px;
    margin: 0;
}

ol li.error {
    color: red;
}

.mask {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -moz-opacity: 0.5;
    opacity: .50;
    filter: alpha( opacity = 50 );
    background-color: #CCC;
}
