<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <display-name>YouTrack</display-name>
  <listener>
    <listener-class>jetbrains.charisma.main.ApplicationContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>jetbrains.charisma.main.ServletImpl</servlet-class>
    <init-param>
      <param-name>database.location</param-name>
      <param-value>${user.home}/teamsysdata</param-value>
    </init-param>
    <init-param>
      <param-name>database.backup.location</param-name>
      <param-value>${user.home}/teamsysdata-backup</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>gzip-filter</filter-name>
    <filter-class>org.mortbay.servlet.GzipFilter</filter-class>
    <init-param>
      <param-name>mimeTypes</param-name>
      <param-value>text/javascript,application/x-javascript,text/css,text/xml,application/rss+xml</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>gzip-filter</filter-name>
    <servlet-name>MainServlet</servlet-name>
  </filter-mapping>
  <filter>
    <filter-name>uri-filter</filter-name>
    <filter-class>jetbrains.mps.webr.runtime.filter.QueryParameterFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>uri-filter</filter-name>
    <servlet-name>MainServlet</servlet-name>
  </filter-mapping>
  <mime-mapping>
    <extension>jnlp</extension>
    <mime-type>application/x-java-jnlp-file</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>rar</extension>
    <mime-type>application/x-rar</mime-type>
  </mime-mapping>
  <error-page>
    <error-code>400</error-code>
    <location>/BadRequest</location>
  </error-page>
  <error-page>
    <error-code>401</error-code>
    <location>/Unauthorized</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/AccessDenied</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/NotFound</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/Error</location>
  </error-page>
  <error-page>
    <exception-type>com.jetbrains.teamsys.database.exceptions.DatabaseStateIsReadonlyException</exception-type>
    <location>/MaintenanceInProgress</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/Exception</location>
  </error-page>
  <listener>
    <listener-class>jetbrains.mps.webr.runtime.session.WebrSessionListener</listener-class>
  </listener>
</web-app>
