.permission {
  margin-bottom: 5px;
  margin-top: 5px;
}

.permissionDescription {
  font-size: 80%;
  margin-left: 18px;
}

.permission label {
  float: none;
  font-size: 110%;
  font-family: arial, tahoma, verdana, sans-serif;
}

.disabledPermission label {
  color: gray;
}

.disabledPermission .permissionDescription {
  color: gray;
}

